.img360-iframe {
    height: 483px;
    width: inherit;
    min-width: 475px;
    border: 0;
}

.img360-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.img360-produto-name{
    width: 450px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 31px;
}
.img360-img-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 458px;

}

.img360-foto-360{
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 1300px) {
    .img360-iframe {
        height: 375px;
        min-width: 368px;
        margin: 0;
    }
    .img360-div {
        margin: 0;
       
    }
    .img360-produto-name {
        margin: 0;
    }
}



@media only screen and (max-width: 500px) {
    .img360-div {
        width: 85%;
        z-index: 100;
        margin: 0;
       
    }
    .img360-produto-name {
        width: 100%;
        font-size: 23px;
        margin: 0;
    }
    .img360-iframe {
        margin: 0;
    }
}
@media only screen and (max-width: 380px){
    .img360-iframe {
        height: 267px;
        min-width: 271px;
    }
    .img360-produto-name {
        height: 27px;
        font-size: 20px;
    }
}


@media only screen and (max-width: 350px) {
    .img360-iframe {
        height: 346px;
        min-width: 316px;
    }
    .img360-produto-name {
        height: 36px;
        font-size: 21px;
    }
}

