.navbar-div {
    top: 0;
    width: 100%;
    height: 67px;
    position: fixed;
    z-index: 9999;
}
.navbar-buttons-comus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.active-home{
    display: flex;
    align-items: center; 
}
.no-active-menu{
    display: none;
}
.navbar-div-2-span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;

}
.navbar-div-img-2{
    height: 59px;
}
.navbar-div-1 {
    width: 100%;
    display: flex;
}
.home-center{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.home-center-item{
    margin-top: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-div-2 {
    margin-left: 29px;
    margin-right: 29px;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
}

.navbar-div-button-logof {
    width: 110px;
}

.hide {
    display: none;
}

.translate-button {
    width: 38px;
    height: 36px;
    background-color: #ffffff00;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.navbar-div-buttons{
    /* width: 117px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.translate-box .css-b62m3t-container {
    width: 260px !important;
}
.navbar-div-img-1 {
    width: 100%;
    height: 7px;
}

.navbar-buttons-comus-1 {
    display: flex;

}

@media only screen and (max-width: 1000px) {
    .navbar-div-2 {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 700px) {
    .navbar-div-img-2 {
        height: 37px;
    }

    .navbar-div-img-1 {
        width: 100%;
        height: 7px;
    }

    .navbar-buttons-comus-1 {
        display: flex;

    }
}