.Carousel-img{
    width: 100%;
    z-index: 99;
}
.Carousel_react-div{
    margin-top: 61px;
}

.swiper-slide-card{
    /* width: 100% !important; */
}

.Carousel_react-01{
    display: none;
}

.swiper-home .swiper-button-prev {       
    left: 50% !important;
    top: 0.5% !important;
    transform: rotate(90deg);
    transform-origin: left center;
    color: black;
    color: var(--cor-texto);
  }
  .swiper-home .swiper-button-next{
    left: 50% !important;
    bottom: 0.5% !important;
    transform: rotate(90deg);
    transform-origin: left center;
    top:auto;
    color: black;
    color: var(--cor-texto);
  }

  @media only screen and (min-width: 1201px) { /*Fazer as setas mudarem para cima e para baixo  */

    .swiper-home .swiper-button-prev {       
       left: 3% !important;
       top: 50% !important;
       transform: rotate(0deg);
       transform-origin: left center;
       color: black;
       color: var(--cor-texto);
     }
     .swiper-home .swiper-button-next{
       left: 96% !important;
       top: 50% !important;
       bottom: inherit !important;
       transform: rotate(0deg);
       transform-origin: left center;
       top:auto;
       color: black;
       color: var(--cor-texto);
     }
   
     .Carousel-informacoes-div{
       border-radius: 25px;
       padding: 70px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   }