.Carousel-img{
    width: 100%;
    z-index: 99;
}
.Carousel_react-div{
    margin-top: 61px;
}


.Carousel_react-01{
    display: none;
}

.swiper {
  height: 70vh !important;
}

  @media only screen and (min-width: 1250px) { /*Fazer as setas mudarem para cima e para baixo  */

    .swiper-home .swiper-button-prev {       
       left: 3% !important;
       top: 50% !important;
       transform: rotate(0deg);
       transform-origin: left center;
       color: black;
     }
     .swiper-home .swiper-button-next{
       left: 96% !important;
       top: 50% !important;
       bottom: inherit !important;
       transform: rotate(0deg);
       transform-origin: left center;
       top:auto;
       color: black;
     }
   
     .Carousel-informacoes-div{
       border-radius: 25px;
       padding: 70px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   }