
.box-categoria-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-bg);
    width: 100%;
    height: 60px;
    z-index: 100;
}

.box-categoria-button {
    font-family: var(--fonte);
    font-weight: bolder;
    font-size: 18px;
    background-color: transparent;
    width: 200px;
    height: 60px;
    border: 0;
    cursor: pointer;
    color: var(--cor-texto);
    font-size: var(--tamanho-fonte1);
}

.box-categoria-span-fechar {
    display: none;
}


.active{
    background: #18478d;
}

.box-categoria-span {
    position: fixed;
    height: 210px;
    background-color: #CCE6FF;
    margin-top: 230px;
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-width: 450px;
    align-items: stretch;
}

.box-categoria-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    list-style: none;
    width: 1200px;
    padding: 0;

}


#li-categorias {
    text-decoration: none;
}

.box-menu{
    display: flex;
}

.box-menu ul{
    list-style: none;
    background: #3261a8;
    color: #fff;
    margin: 0;
    padding: 0px;
    cursor: pointer;
    width: 250px;
}

.box-menu ul :hover{
    list-style: none;
    background: #18478d;
    color: #fff;

}


.box-menu ul li{
    padding: 30px ;
    margin: 0px;

}

.box-produtos{
    display: flex;
    /* width: 700px; */
    flex-wrap: wrap;
    flex: 1;

}

@media only screen and (max-width: 900px) {
    .box-categoria-div {
        height: 38%;
    }

    .box-categoria-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 0;
        list-style: none;
        width: 100%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1250px) {

    .box-categoria-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: inherit;
        list-style: none;
        width: 900px;
    }
    .box-menu ul{
        list-style: none;
        background: #3261a8;
        color: #fff;
        margin: 0;
        padding: 0px;
        cursor: pointer;
        width: 200px;
    }

    .box-menu ul li{
        padding: 16px ;
        margin: 0px;

    }
    .box-categoria-span {
        position: fixed;
        height: 170px;
        background-color: #CCE6FF;
        margin-top: 150px;
        display: flex;
        color: black;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-width: 150px;
        align-items: stretch;
    }
    .box-categoria-button {
        font-family: var(--fonte);
        font-weight: bolder;
        font-size: 15px;
        background-color: transparent;
        width: 200px;
        height: 60px;
        border: 0;
        cursor: pointer;
    }

    
}